<!DOCTYPE html >

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>P_Family - 寵物認領養平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="default3.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/default.css">


	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!---->


<style>

  
  body
	{
		margin: 0px;
		padding: 0px;
		background: #3ACDCE;
		font-family:  sans-serif,微軟正黑體;
		font-size: 12pt;
		font-weight: 300;
		color: #444444;

	}
	hr {
		border:0; height:1px; background-color:#d4d4d4;
		color:#d4d4d4	
	}
  #main{

    height: 800px;
  }
</style>

</head>
<body >

<div id="btn_top">
<ul>
<a href="team.html"><button id="btn1" class="button">開發團隊</button></a>
<button id="current" class="button">聯絡我們</button>
<a href="login.html"><button id="btn1" class="button">登　入</button></a>
<a href="homepage.html"><button id="btn1" class="button">首　頁</button></a>
<button id="space" class="button">　　</button>

</ul>
</div>

<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="/static/images/dog1.png" alt="P_Family" style="width:70%;height:70%;" />
      <h1><a href="homepage.html">P_Family</a></h1>
			
		</div>
		<div id="menu" >
			
			<ul>
				<a href="process.html"><li><button id="btn2" class="button">　認養流程　</button></li></a>
				<a href="adopt.html"><li><button id="btn2" class="button" >　領養專區　</button></li></a>
				<a href="adopted.html"><li><button id="btn2" class="button">　送養專區　</button></li></a>
				<a href="notice.html"><li><button id="btn2" class="button">飼養注意事項</button></li></a>
				
				<div>
  					<button id="btn2" type="button" class=" btn  btn-info collapsed " data-toggle="collapse" data-target="#drag">　　走失協尋</button>
  						<div id="drag" class="collapse">
   							<a href="lost.html"><button id="btn3" class="button" >　寵物走失　</button></a>
                			<a href="found.html"><button id="btn3" class="button" >　寵物招領　</button></a>
   							<a href="takemehome.html"><button id="btn3" class="button" >　帶我回家　</button></a>
  						</div>
				</div>
				
			</ul>
			
		</div>
	</div>

	<div id="main">
		<div id="banner">
			

		</div>


		<div id="welcome">
			<div class="title">

				<img src="/static/images/icon-dog.png" style="width:30px;height:30px;margin-right:6px;margin-bottom:7px;">
				<h3 style="display: inline; color:#0a7079">聯絡我們</h3>
				<hr>

			</div>
		
		</div>


			<div class="table-responsive" >          
  				<table class="table" style="margin-top:30px;">
    				<thead>
      					<tr>
        					<th>Chinese name</th>
        					<th>English name</th>
        					<th>City</th>
        					<th>Country</th>
        					<th>E-mail</th>
      					</tr>
    				</thead>
    				<tbody>
      					<tr>
       					 	<td>陳語晏</td>
        					<td>Sherry</td>
        					<td>Kaohsiung City</td>
        					<td>Taiwan</td>
        					<td>B10330331@mail.ntust.edu.tw</td>
      					</tr>
      					<tr>
        					<td>連于慧</td>
        					<td>Sarah</td>
        					<td>New Taipei City</td>
        					<td>Taiwan</td>
        					<td>B10330324@mail.ntust.edu.tw</td>
      					</tr>
      					<tr>
        					<td>張舒婷</td>
        					<td>Susanah</td>
        					<td>Taichung City</td>
        					<td>Taiwan</td>
        					<td>B10330335@mail.ntust.edu.tw</td>
      					</tr>
      					<tr>
        					<td>羅斐鈴</td>
        					<td>Lydia</td>
        					<td>Taitung County</td>
        					<td>Taiwan</td>
        					<td>B10330313@mail.ntust.edu.tw</td>
      					</tr>
    				</tbody>
  				</table>
  			</div>
		</div>
</div>
<center>
  <div id="copyright" style="font-size: 12px;margin-top: 5px;margin-bottom: 5px;">
        <span>Copyright &copy; 2016 All rights reserved. |  Photos by <a href="http://www.flaticon.com/">Flaticon</a> and <a href="https://unsplash.com/">Unsplash. |</a></span>
        <span>Design by NTUST_網頁棒棒Jerry棒</span>
        
      </div>

</center>
</body>
</html>
