<!DOCTYPE html >

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>P_Family - 寵物認領養平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!---->


<style>

  
  body
	{
		margin: 0px;
		padding: 0px;
		background: #3ACDCE;
		font-family:  sans-serif,微軟正黑體;
		font-size: 12pt;
		font-weight: 300;
		color: #444444;

	}
	hr {
		border:0; height:1px; background-color:#d4d4d4;
		color:#d4d4d4	
	}
</style>

</head>
<body >





<div id="signUPpage" class="container">
	<div id="logo">
		<div id="logo">
			<br>
			<center>
			<a href="homepage.html"><img src="/static/images/dog1.png" alt="" style="width:50%;height:50%;" /></a>
			<h1 style="color:white;text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">Sign Up</h1>
				<div>
					
					
						
    						<legend>會員註冊</legend>
    						
				  		<h4>姓名: </h4><input type="text" name="name" >
				  		<br>
				  		<h4>身分證字號: </h4><input type="text" name="IDnumber" >
				  		<br>
				  		<h4>帳號: </h4><input type="text" name="id" >
				  		<br>
				  		<h4>密碼: </h4><input type="text" name="password" >
				  		<br>
				  		<h4>確認密碼: </h4><input type="text" name="password" >
				  		<br>
				  		
				  		<br><br>
				  			<button  type="button" onclick="alert('成功加入會員!')"><h4>　加入會員　</h4></button>
				  			<a href="login.html"><button style="color:black;"><h4>　登入　</h4></button></a>
				  		
					
				</div>
				<br>
				</center>
		</div>
	</div>
</div>
<center>
	<div id="copyright" style="font-size: 12px;margin-top: 5px;margin-bottom: 5px;">
				<span>Copyright &copy; 2016 All rights reserved. |  Photos by <a href="http://www.flaticon.com/">Flaticon</a> and <a href="https://unsplash.com/">Unsplash. |</a></span>
				<span>Design by NTUST_網頁棒棒Jerry棒</span>
				
			</div>

</center>
</body>
</html>
